.page-header{
    color: $menuFontColor;
    height: $headerHeight;
    background:#fff;
    box-shadow:0px 1px 4px 0px rgba(0,21,41,0.12);
    position: relative;
    z-index: 10;
    a{
        color: $menuFontColor;
        @include hover-active()
    }
    .logo{
        display: inline-block;
        height: 100%;
        width: 260px;
        line-height: $headerHeight;
        background: url(../../../assets/images/clife-logo.png) no-repeat 28px center;
        background-size: auto 28px;
        text-indent: 124px;
        font-size: $subTitleFontSize;
        
    }
    .right{
        text-align:right ;
        height: 100%;
        width: 600px;
        & > a,.user{
            @include ver-middle;
            margin-left: 28px;
        }
        position: absolute;
        right: 16px;
        top: 0;
        .bellicon{
            font-size: 18px;
        }
        .msgnum{
            display: inline-block;
            padding: 2px;
            border-radius: 50%;
            background-color: rgba(255, 52, 0, 1);
            font-size: 12px;
            color: #fff;
            &:hover{
                color: #fff;
            }
        }
        .user{
            height: 100%;
            & > img,span{
                @include ver-middle;
            }
            .usericon{
                height: 28px;
            }
            .username{
                margin: 19px 11px;
            }
        }

        
    }
}