@charset 'utf-8';

.config-firmware-modal {
  .form-item-block {
    padding: 20px 20px 0px 20px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: $_border;

    .delete-btn {
      cursor: pointer;
      margin-bottom: 20px;
      text-align: right;
      @include text(12px, $_f42);
    }
  }

  .add-btn {
    cursor: pointer;
    @include wh(56px, 30px);
    line-height: 28px;
    text-align: center;
    @include text(12px, $themeColor);
    border-radius: 4px;
    border: 1px solid $themeColor;
  }

  .required-icon .ant-form-item-label::before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }
}
