@charset 'utf-8';

.network-info-modal {
  &-title {
    margin-bottom: 20px;
    font-weight: bold;
    @include text(14px, #323232);
    .tip {
      @include text(12px, #666666);
      font-weight: normal;
    }
  }
  .flex {
    @include flex(flex-start, center);
    
  }
  .upload-img {
    .ant-upload.ant-upload-select-picture-card, .ant-upload-list-picture-card-container {
      @include wh(150px, 267px);
    }
    // 原生本地上传
    .native-upload {
      .img-wrap {
        border-radius: 4px;
        border: 1px dashed #D9D9D9;
        @include wh(150px, 267px);
        @include flex(center);
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .upload-btn {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        .hidden {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          width: 88px;
          height: 32px;
        }
      }
      .tip-text {
        @include text(12px, #8E8E8E);
      }
    }
  }
  .guide-page {
    border: 1px solid;
  }
}