#device-analysis {
    .main-page-title {
      display: flex;
      justify-content: space-between;
    }
  
    .filter-wrap {
      height: 78px;
      display: flex;
      align-items: center;
      padding-left: 22px;
  
      .ant-radio-group {
        margin-right: 22px;
      }
  
      .ant-radio-button-wrapper {
        padding: 0;
        width: 76px;
        text-align: center;
      }
    }
  
    .main-echart {
      padding: 22px;
      margin-top: 16px;
  
      h3 {
        font-size: 14px;
        font-weight: 600;
        color: #323232;
        line-height: 20px;
      }
  
      .comm-shadowbox {
        box-shadow: none;
        height: 64px;
        margin-bottom: 23px;
  
        .device-count-item {
          height: 64px;
          margin-left: 0;
        }
      }
  
      .echart-download {
        text-align: right;
        margin-bottom: 12px;
      }
    }
  
    .echart-count-tab {
      height: 100px;
      display: flex;
      align-items: center;
      margin: 16px 0;
  
      >div {
        font-weight: 400;
        width: 170px;
        height: 56px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        .item-label {
          height: 22px;
          font-size: 12px;
          color: #666666;
          line-height: 22px;
        }
  
        .item-number {
          color: #323232;
          width: 22px;
          font-size: 20px;
          line-height: 32px;
        }
      }
  
      .current-tab {
        .item-number {
          font-size: 20px;
          font-weight: 400;
          color: #3079FF;
          line-height: 32px;
        }
      }
    }
  }
  