@charset 'utf-8';
.project-device-wrap{
  .top-but {
    text-align: right;
    padding-top: 10px;
  }
}
.device-info-wrap {
  

  .filter {
    .ant-form-item {
      padding: 20px 0;
      margin-right: 40px;
    }
  }

  .content {
    .action {
      margin-bottom: 20px;
    }
  }
}

.page-apilist {
  .api-tab {
    .ant-tabs-content {
      padding: 6px 22px;
    }
  }
}

.project-import-file-wrap {
  .file-form-item {
    margin-bottom: 0px
  }

  .project-import-file-list {
    padding-left: 110px;

    >div {
      display: flex;
      align-items: center;
    }

    span {
      text-decoration: underline;
    }

    .name {
      color: #0099FF;
      display: inline-block;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tip {
      color: #E300AF;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
