@charset 'utf-8';

.free-apply-modal {
  &-top {
    .confirm-tip {
      @include text(12px, $_666Color);
      margin-bottom: 22px;
    }
    .f-module-box {
      background: $_faf;
      border-radius: 4px;
      margin-bottom: 22px;
      .f-module-title {
        @include text(14px, $_323Color);
        padding: 22px;
        border-bottom: $_border;
      }
      .pad22 {
        padding: 22px;
      }
      .firmware-msg {
        font-weight: bold;
        @include text(12px, $_323Color);
      }
      .ant-form-item {
        margin-bottom: 5px;
      }
      .txt-color label{
        @include text(12px, $_323Color);
      }
      .txt-color .ant-form-item-control-input-content {
        @include text(12px, $_666Color);
      }
    }
  }
  .tip-msg {
    margin-left: 30px;
    color: #666;
  }
}
