@charset 'utf-8';

.modify-firmware-modal {
  @include flex(space-between, flex-start);
  &-left {
    flex: 1;
    .modify-firmware-title {
      font-weight: bold;
      @include text(14px, $_323Color);
    }
    .ant-form-item-label {
      @include text(12px, $_323Color);
    }
    .parent-item {
      position: relative;
    }
    .son-item {
      position: absolute;
      top: 0;
      right: 26px;
    }
  }
  &-right {
    @include wh(227px, 404px);
    background: #f8f9fb;
    border-radius: 4px;
    @include flex(center);
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .input-number {
    width: 241px;
  }
}
