@charset 'utf-8';

// modal内部样式
.add-modal {
  .ant-modal-footer {
    height: 70px;
    @include flex(center, center);    
    .ant-btn-primary[disabled] {
      color: $_fff;
      background: $_97B;
      border-color: $_c3c;
      text-shadow: none;
      box-shadow: none;
    }
    .ant-btn {
      padding: 4px 24px;
      &:nth-of-type(2) {
        margin-left: 14px;
      }
    }
  }
}
// 内容
.add-product {
  .step-box {
    width: 510px;
    margin: 12px auto 36px auto;
  }
  .search-box {
    @include flex();
    @include text(12px, $subFontColor);
    .submit-item {
      @include text(12px, $_3D9);
    }
  }
  .level1-box {
    @include flex(flex-start);
    margin: 22px 0;
    &-item {
      cursor: pointer;
      text-align: center;
      margin-right: 14px;
      padding: 6px 16px;
      border-radius: 4px;
      border: $border;
      @include text(12px, $themeColor);
    }
  }
  .level2-box {
    @include flex(flex-start);
    border: $_border;
    padding: 22px;
    &-item {
      position: relative;
      cursor: pointer;
      padding: 8px 16px;
      margin-right: 14px;
      margin-bottom: 14px;
      border-radius: 4px;
      background: $_faf;
      @include text(12px, $_595);
    }
  }
  .onwActive {
    @include text(12px, $_fff);
    background: $themeColor;
    border-radius: 4px;
  }
  .twoActive {
    border: 1px solid $themeColor;
    @include text(12px, $themeColor);
  }
  // 二级品类选择
  .selected-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    @include wh(21px, 21px);
    background: url("../../../../assets/images/level2Selected.png");
    background-size: 100% 100%;
  }
  // 确定开发面板
  .dep-plan-block {
    .dep-plan-tip {
      @include text(12px, $_666Color);
      margin-top: 22px;
      margin-bottom: 22px;
    }
    .dep-btn {
      padding: 7px 16px;
      margin-right: 14px;
      margin-bottom: 35px;
      border-radius: 4px;
      @include text(12px, #2f78ff);
      border: 1px solid #2f78ff;
    }
    .active-btn {
      background: #2f78ff;
      color: #ffffff;
    }
    .dep-plan-cont {
      @include wh(100%, 244px);
      background: #ffffff;
      border-radius: 4px;
      border: 1px solid #e9e9e9;
      .ant-tabs-ink-bar {
        display: none;
      }
      .ant-tabs {
        height: 100%;
        &-content {
          height: 100%;
        }
      }
      .ant-tabs-tab-active {
        color: #2f78ff;
        background: #f2f7fe;
      }
      .ant-tabs-tabpane {
        padding-left: 0px;
        overflow-y: auto;
        @include self-scroll-bar();
      }
      // 简介
      .dep-brief {
        height: 100%;
        padding: 22px;
        display: flex;
        @include self-scroll-bar();
        @include text(12px, #595959);
        &-img {
          margin-right: 22px;
          @include wh(134px, 188px);
          border: 1px solid;
          .ant-skeleton,
          .ant-skeleton-image {
            @include wh(100%, 100%);
          }
        }
        &-cont-box {
          overflow-y: auto;
          @include self-scroll-bar;
        }
        &-cont {
          margin-bottom: 22px;
        }
      }
      .pad20 {
        padding: 20px;
        overflow-y: auto;
      }
    }
    .flex1 {
      flex: 1;
    }
  }
  .ant-tabs-nav {
    margin-bottom: 0;
  }
}
