@charset 'utf-8';

.add-product {
  .step-box {
    width: 510px;
    margin: 12px auto 36px auto;
  }
  .search-box {
    @include flex();
    @include text(12px, $subFontColor);
    span {
      @include text(12px, $_3D9);
    }
  }
  .level1-box {
    @include flex(flex-start);
    margin: 22px 0;
    &-item {
      cursor: pointer;
      text-align: center;
      margin-right: 14px;
      padding: 6px 16px;
      border-radius: 4px;
      border: 1px solid #2F78FF;
      @include text(12px, #2F78FF);
    }
  }
  .level2-box {
    @include flex(flex-start);
    border: 1px solid #E9E9E9;
    padding: 22px;
    &-item {
      position: relative;
      cursor: pointer;
      padding: 8px 16px;
      margin-right: 14px;
      margin-bottom: 14px;
      border-radius: 4px;
      background: #FAFAFA;
      @include text(12px, #595959);
    }
  }
  .onwActive {
    @include text(12px, #FFFFFF);
    background: #2F78FF;
    border-radius: 4px;
  }
  .twoActive {
    border: 1px solid #2F78FF;
    @include text(12px, #2F78FF);
  }
  .selected-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid #2F78FF;
    border-left: 20px solid transparent;
  }
}
