.GrayModal-top {
  display: flex;
  align-items: center;

  div {
    &:first-child {
      font-size: 12px;
      font-weight: 400;
      color: #323232;
      line-height: 22px;
    }

    &:last-child {
      font-size: 14px;
      font-weight: 500;
      color: #2F78FF;
      line-height: 20px;
    }
  }
}

.GrayModal-tip {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
  margin-top: 22px;
}

.GrayModal-tab {
  .GrayModal-img-wrap {
    .GrayModal-img-wrap-item {
      position: relative;
      width: 65px;
      height: 65px;
      background: #F7F9FA;
      border: 1px solid #E9E9E9;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .GrayModal-img-wrap-check {
        position: absolute;
        top: 0;
        top: 0;
        right: 0;

        .ant-checkbox-input,
        .ant-checkbox-inner {
          border-radius: 50%;
        }
      }

      img {
        height: 25px;
        width: 25px;
      }
    }
  }
  .GrayModal-form-wrap{
      width: 50%;
      margin-top: 20px;
  }
  .app-items-wrapper{

    max-height: 300px;
    overflow-y: auto;

    // @include self-scroll-bar;

    
    .app-item{
        display: inline-block;
        margin: $gap / 2;
        text-align: center;

        .app-icon{
            display: flex;
            position: relative;
            width:61px;
            height:61px;
            background:rgba(247,249,250,1);
            border:$border;
            border-radius: 50%;
            margin-bottom: $gap / 2;
            cursor: pointer;

            img{
                margin: auto;
                height: 40px;
                object-fit: contain;
                overflow: hidden;
            }


            &::before{
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                top: 0;
                right: 0;
                border:$border;
                background-color: #fff;
                border-radius: 50%;
                z-index: 2;
            }

            &.active{
                &::before{
                    background:rgba(47,120,255,1);
                }

                &::after{
                    content: '';
                    width: 8px;
                    height: 4px;
                    position: absolute;
                    top: 5px;
                    right: 4px;
                    border-left: $border;
                    border-bottom: $border;
                    transform: rotate(-45deg);
                    z-index: 3;
                }
            }
        }

        .app-name{
            display: inline-block;
            width: 61px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
}
.app-items-wrapper2{

  max-height: 370px;
  overflow-y: scroll;

  @include self-scroll-bar;

  
  .app-item{
      display: inline-block;
      margin: $gap / 2;
      text-align: center;

      .app-icon{
          display: flex;
          position: relative;
          width:61px;
          height:61px;
          background:rgba(247,249,250,1);
          border:$border;
          border-radius: 50%;
          margin-bottom: $gap / 2;
          cursor: pointer;

          img{
              margin: auto;
              height: 40px;
              object-fit: contain;
              overflow: hidden;
          }


          &::before{
              content: '';
              width: 16px;
              height: 16px;
              position: absolute;
              top: 0;
              right: 0;
              border:$border;
              background-color: #fff;
              border-radius: 50%;
              z-index: 2;
          }

          &.active{
              &::before{
                  background:rgba(47,120,255,1);
              }

              &::after{
                  content: '';
                  width: 8px;
                  height: 4px;
                  position: absolute;
                  top: 5px;
                  right: 4px;
                  border-left: $border;
                  border-bottom: $border;
                  transform: rotate(-45deg);
                  z-index: 3;
              }
          }
      }

      .app-name{
          display: inline-block;
          width: 61px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
      }
  }
}