.confirm-pannel {
  // padding: 22px;

  .confirm-pannel-title {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    div {
      &:first-child {
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: #666666;
        line-height: 17px;
      }

      &:last-child {
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: #323232;
        line-height: 17px;
      }
    }
  }

  .confirm-pannel-content {
    display: flex;
    justify-content: center;

    .pannel-cover-image {
      border: 1px dotted #999;
    }

    >div {
      &:nth-child(1) {
        width: 247px;
        height: 439px;
        background: #F8F9FB;
        border-radius: 4px;
        position: relative;

        img {
          height: 100%;
          width: 100%;
        }

        div {
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.4);
          color: #fff;
          width: 72px;
          height: 25px;
          line-height: 25px;
          text-align: center;
        }
      }

      &:nth-child(2) {
        flex: 1;
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: 0 42px 0 29px;

        .confirm-pannel-content-left {
          width: 80px;

          button {
            width: 100%;
            margin-bottom: 12px;
            // &:first-child {
            //   margin-bottom: 22px;
            // }
          }
        }

        .confirm-pannel-content-right {
          width: 190px;
          font-size: 12px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #666666;
          line-height: 17px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .model-panal-code {
            img {
              width: 114px;
              height: 114px;
            }
            .no-panal-img{
              width: 114px;
              height: 114px;
              border: 1px dotted #999;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: #999;
              font-size: 12px;
            }
          }

          >div {
            &:nth-child(1) {
              width: 157px;
            }

            &:nth-child(2) {
              width: 114px;
              height: 114px;
              margin: 22px 0;
            }

            &:nth-child(3) {
              width: 190px;

              a {
                font-size: 12px;
                font-weight: 400;
                color: #206FFF;
                line-height: 17px;
              }
            }
          }
        }
      }

      &:nth-child(3) {
        width: 360px;
        height: 439px;
        background: #FAFAFA;
        border-radius: 4px;
        padding: 22px;

        .confirm-pannel-content-title {
          height: 17px;
          font-size: 12px;
          font-weight: 400;
          color: #323232;
          line-height: 17px;
        }

        .confirm-pannel-content-item {
          button {
            width: 54px;
            padding: 0;
            line-height: 20px;
            height: 22px;
          }

          >div {

            margin-bottom: 8px;

            &:nth-child(1) {
              font-size: 12px;
              font-weight: 600;
              color: #323232;
              line-height: 17px;

              margin-top: 22px;
            }

            &:nth-child(2) {
              font-size: 12px;
              font-weight: 400;
              color: #666666;
              line-height: 17px;
            }

          }

        }

        .confirm-pannel-content-other {
          margin-top: 22px;
          font-size: 12px;
          font-weight: 400;
          color: #666666;
          line-height: 17px;

          a {
            font-size: 12px;
            font-weight: 400;
            color: #206FFF;
            line-height: 17px;
          }
        }
      }
    }
  }
}

.down-office-modal {
  text-align: center;
  padding-bottom: 30px;

  img {
    width: 80%;
  }
}
