/****************定义混合器*********************/

@mixin self-border ($borderRadius,$borderColor){
    border-radius: $borderRadius;
    border:1px solid $borderColor;
}

@mixin self-scroll-bar(){
    &::-webkit-scrollbar{
        background:rgba(255,255,255,1);
        width:8px;
    }

    &::-webkit-scrollbar-thumb{
        background:rgba(217,217,217,1);
        border-radius:5px;
    }
}

// 字体
@mixin text($size, $color) {
    font-size: $size;
    color: $color;
    word-break: break-all;
}

// flex
/*
  $justify: justify-content的值，默认space-between
  $align: align-items的值，默认center
*/
@mixin flex($justify: space-between, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
// 不换行
@mixin no-wrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


@mixin hover-active($color:$activeBgColor) {
    &:hover{
        color: $color;
    }
}

// 限制文字行数
/*
$line 行数
*/
@mixin limit-line($line) {
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: $line;
/*! autoprefixer: off */
-webkit-box-orient: vertical;
/*! autoprefixer: on */
}

// 宽高
@mixin wh($width, $height) {
 width: $width;
 height: $height;
}

// @mixin menu-width {
//     width: $menuWidth;
//     min-width: $menuWidth;
//     @media screen and (max-width:1400px){
//         width: $smallMenuWidth;
//         min-width: $smallMenuWidth;
//     }
// }


/********************END***********************/