@charset 'utf-8';

.page-wrapper {
    height: 100%;
    min-height: 520px;
    .page-title {
        padding: 12px 24px;
        line-height: 34px;
        font-weight: 500;
        @include text(20px, $fontColor);
    }
    .page-header {
        height: 78px;
        margin: 16px 0;
        @include flex();
        background: $GrayBgColor;
        border-radius: 2px;
        &-left {
            @include flex(flex-start, center);
        }
        &-right {
            padding-right: 22px;
        }
    }
    // 状态
    .status {
        display: inline-block;
        padding: 0 $gap / 2;
        font-size: 12px;
        &.status-0 {
            color: $doneColor;
        }
        &.status-1 {
            color: $underWayColor;
        }
        &.status-2 {
            color: $unusualColor;
        }
    }
    // table表格
    .bg-wrapper {
        padding: 22px;
        border-radius: 2px;
        .page-table-wrapper {
            background-color: $sectionBgColor;
            .pro-show {
                // @include flex(flex-start);
                display: flex;
                &-cont {
                    flex: 1;
                    margin-left: 12px;
                    &-title {
                        @include text(14px, $_323Color);
                    }
                    &-item {
                        @include text(12px, $_666Color)
                    }
                }
            }
            // 操作
            .operation {
                cursor: pointer;
                @include text(12px, $themeColor);
                .continue {
                    padding: 4px 10px;
                    border-radius: 4px;
                    border: 1px solid $themeColor;
                }
                .mar25 {
                    margin-left: 25px;
                }
            }
            // 分页
            .list-pagination {
                height: max-content;
                margin-top: $gap;
                padding: 0 $gap $gap 0;
                .self-pa {
                    width: max-content;
                    float: right;
                }
            }
        }
    }
}

@media screen and (max-height: 769px) {
    .page-wrapper {
        .page-content-header {
            padding: 0 $gap $gap / 4;
        }
        .bg-wrapper {
            padding: $gap / 2;
        }
    }
    .page-table-wrapper {
        padding: $gap / 4;
        .lists-wrapper {
            padding: 0 !important;
            .list-item {
                height: 46% !important;
                .product-info {
                    padding: $gap / 2;
                    .product-cut {
                        padding-top: $gap / 2;
                        padding-right: $gap / 4;
                    }
                    .product-info-body {
                        margin: $gap / 2 0;
                        line-height: $gap;
                    }
                }
                .btn-controls {
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
        .list-pagination {
            padding: 0 $gap $gap / 4 0 !important;
        }
    }
}
