@charset 'utf-8';

.replace-module-modal {
  .search-input {
    margin-bottom: 24px;
  }
  .ant-modal-content {
    border-radius: 6px;
  }
  .ant-modal-header {
    border-radius: 6px 6px 0 0;
  }
}