@charset 'utf-8';

.service-config-page2 {
  .desc {
    margin-bottom: 25px;
    @include text(12px, $_666Color);
  }
  .service-config-title {
    font-weight: bold;
    @include text(14px, $_323Color);
    margin: 5px auto 13px auto;
  }
  .service-config-cont {
    @include flex(flex-start);
    flex-wrap: wrap;
    .config-card {
      margin-bottom: 30px;
      margin-right: 14px;
      @include wh(350px, 132px);
      border-radius: 4px;
      border: $_border;
      @include flex(flex-start, flex-start);
      padding: 16px 32px 16px 12px;
      position: relative;
      &:nth-of-type(3n) {
        // margin-right: 0;
      }
      &-left {
        margin-right: 12px;
      }
      &-right {
        height: 100%;
        @include flex(space-between, flex-start, column);
        &-title {
          @include text(14px, $_323Color);
        }
        &-desc {
          line-height: 17px;
          @include text(12px, $_666Color);
        }
        &-btn {
          cursor: pointer;
          padding: 5px 15px;
          border-radius: 4px;
          border: 1px solid $themeColor;
          @include text(12px, $themeColor);
        }
        &-add {
          height: 28px;
          @include text(12px, $_fff);
        }
        .flex-start {
          @include flex(flex-start);
          .mar6 {
            margin-left: 6px;
          }
        }
      }
      .configured-logo {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        background: $_50c;
        border-radius: 0px 4px 0px 0px;
        @include text(12px, $_fff);
      }
    }
  }
  .max1082 { // 暂时废弃
    // 1、为了固定三个换行；2、同时也避免calc(33.3% - 28px)缩放
    max-width: 1082px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1367px) {
  .service-config-page {
    .service-config-cont {
      .config-card {
        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }
  }
}
