#device-online-set {
  .device-setp-ttip {
    height: 220px;
    background: #F4FBFF;
    padding: 22px;
    margin: 0 -22px;

    .step-title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {
        font-size: 14px;
        font-weight: 600;
        color: #323232;
        line-height: 20px;
        margin-left: 3px;
      }

    }

    .desc-wrapper {
      align-items: center;
      display: flex;
        padding: 0;
        height: 37px;
        margin-bottom: 12px;
      .list_text {
        padding: 0;
      }
    }

    .ant-steps-item-description {
      max-width: 262px;
      font-size: 12px;
      font-weight: 400;
      color: #666666;
      line-height: 20px;
    }

    .ant-steps-item-title {
      font-size: 16px;
      font-weight: 400;
      color: #323232;
      margin-bottom: 12px;
    }

    .ant-steps-item-title::after {
      background-color: #C4CEE0;
    }

    .ant-steps-icon {
      font-weight: 400;
      color: #323232;
    }
  }
  .device-online-btn{
      text-align: right;
      margin: 22px 0 12px 0;
  }
}
