@charset 'utf-8';

#remote-config {
  .main-page-title {
    @include flex();
  }
  .setp-tip {
    // height: 184px;
    background: #f4fbff;
    padding: 22px;
    margin-bottom: 16px;

    .step-title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {
        font-size: 14px;
        font-weight: 600;
        color: $_323Color;
        line-height: 20px;
        margin-left: 3px;
      }
    }

    .ant-steps-item-description {
      max-width: 262px;
      font-size: 12px;
      font-weight: 400;
      color: $_666Color;
      line-height: 20px;
    }

    .ant-steps-item-title {
      font-size: 16px;
      font-weight: 400;
      color: $_323Color;
      margin-bottom: 12px;
    }

    .ant-steps-item-title::after {
      background-color: #c4cee0;
    }

    .ant-steps-icon {
      font-weight: 400;
      color: $_323Color;
    }
  }

  .device-content {
    padding: 22px;

    .content-top {
      display: flex;
      white-space: nowrap;
      align-items: center;
      margin-bottom: 23px;
      justify-content: space-between;

      .content-top-left {
        display: flex;
        align-items: center;
      }
    }
  }
}
.device-remote-config-modal {
  // .ant-modal-footer {
  //   height: 70px;
  //   @include flex(center, center);
  //   .ant-btn-primary[disabled] {
  //     color: $_fff;
  //     background: $_97B;
  //     border-color: $_c3c;
  //     text-shadow: none;
  //     box-shadow: none;
  //   }
  //   .ant-btn {
  //     padding: 4px 24px;
  //     &:nth-of-type(2) {
  //       margin-left: 14px;
  //     }
  //   }
  // }
  // .remote-config {
  //   .step-box {
  //     width: 650px;
  //     margin: 12px auto 36px auto;
  //   }
  // }

  // 添加配置数据
  .config-data-table .ant-table-body {
    @include self-scroll-bar();
  }
  .ant-table-tbody > tr > td .ant-input-number,
  .romote-modal .ant-table-tbody > tr > td .ant-select,
  .romote-modal .ant-table-tbody > tr > td input,
  .romote-modal .ant-table-thead > tr > th,
  .ant-input-number,
  .romote-modal .ant-table-thead > tr > th,
  .ant-select,
  .romote-modal .ant-table-thead > tr > th,
  input {
    width: 182px;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 4px !important;

    .config-send-data {
      input,
      .ant-input-number,
      .ant-select {
        // width: 130px;
      }

      &.warn {
        .ant-select-selection,
        .ant-input-number,
        input {
          border-color: red;
        }
      }
    }
  }
}
