.add-protocols-wrap {
  .ant-modal-body{
padding-top: 10px;
  }
  .add-protocols-count {
    height: 22px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .ant-input-search {
    margin-right: 20px;
  }
  .other-product-top{
    margin-bottom: 22px;
  }
}
