@charset 'utf-8';

.application-wrapper {
    height: 100%;
    min-height: 520px;
    .application-content-wrapper {
        background: #ffffff;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
        border-radius: 2px;
        padding: 22px;
        .application-search {
            height: 38px;
            margin-bottom: 22px;
            .application-header-input-wrapper {
                width: 40%;
            }
        }
        .application-content {
            height: 100%;
            &-tip {
                @include flex(flex-start);
                padding: 10px 16px;
                margin-bottom: 22px;
                background: #e6f7ff;
                border-radius: 4px;
                border: 1px solid #bae7ff;
                @include text(12px, #000000);
                .icon {
                    @include text(14px, #1890ff);
                    padding-right: 8px;
                }
            }
            .lists-wrapper {
                width: 100%;
                @include flex(flex-start, flex-start);
                flex-wrap: wrap;
                .list-item {
                    @include wh(32%, 27%);
                    margin: 0 14px 14px 0;
                    background-color: $sectionBgColor;
                    border-radius: $borderRadius;
                    border: 1px solid rgba(217, 217, 217, 1);
                    color: rgba(0, 0, 0, 0.45);
                    .application-item-card {
                        position: relative;
                        height: 100%;
                        padding: 16px 12px;
                        .application-info {
                            padding-left: 12px;
                            @include text(12px, #666666);
                            @include flex(flex-start, flex-start, column);
                            &-title {
                                margin-bottom: 10px;
                                font-size: 14px;
                                font-weight: 600;
                                color: #323232;
                                line-height: 24px;
                            }
                            &-title:hover {
                                color: #2F78FF;
                            }
                            &-bar {
                                margin-bottom: 10px;
                                .title {
                                    color: #323232;
                                }
                            }
                            .application-desc {
                                line-height: normal;
                                @include limit-line(2);
                            }
                        }
                        .del-app {
                            @include text(14px, #F42C2C);
                            display: none;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 25px;
                            line-height: 23px;
                            text-align: center;
                            cursor: pointer;
                            background-color: $sectionBgColor;
                            border-top: 1px solid #e9e9e9;
                        }
                        &:hover {
                            .del-app {
                                display: block;
                            }
                        }
                    }
                }
            }
            .application-list-pagination {
                height: max-content;
                padding: 0 $gap $gap 0;
                .self-pa {
                    float: right;
                    width: max-content;
                }
            }
        }
    }
}
@media screen and (max-width: 1367px) {
    .application-wrapper {
        .application-content-wrapper {
            .application-content {
                .lists-wrapper {
                    .list-item {
                        &:nth-last-child(1),  &:nth-last-child(2), &:nth-last-child(3){
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
// @media screen and (max-height: 769px) {
//     .application-wrapper {
//         .application-content-wrapper {
//             padding: 1/2 * $gap;
//             .application-content {
//                 height: 100%;
//                 padding: 6px 12px;
//                 background-color: $sectionBgColor;
//                 .lists-wrapper {
//                     .list-item {
//                         width: 45%;
//                         height: 48%;
//                         .application-item-card {
//                             padding: 16px 12px;
//                             .icon-wrapper {
//                                 @include wh(64px, 64px);
//                             }
//                         }
//                     }
//                 }
//                 .application-list-pagination {
//                     height: max-content;
//                     padding: 0 $gap 1/3 * $gap 0;
//                     .self-pa {
//                         float: right;
//                         width: max-content;
//                     }
//                 }
//             }
//         }
//     }
// }

.add-application-wrapper {
    .application-form {
        .android-input,
        .ios-input {
            margin-bottom: 0;
        }
        .app-img-desc,
        .app-type-desc {
            font-size: 13px;
            font-family: PingFangSC-Regular, PingFang SC sans-serif;
            font-weight: 400;
            color: rgba(140, 140, 140, 1);
        }
    }
}
