@charset 'utf-8';

.network-info-modal {
  &-title {
    margin-bottom: 20px;
    font-weight: bold;
    @include text(14px, #323232);
    .tip {
      @include text(12px, #666666);
      font-weight: normal;
    }
  }
  .flex {
    @include flex(flex-start, center);
    .upload-img {
      .ant-upload.ant-upload-select-picture-card {
        @include wh(150px, 267px);
      }
    }
  }
}