@charset 'utf-8';

.release-product-modal {
  .release-item-title {
    margin-bottom: 22px;
    font-weight: bold;
    @include text(14px, #323232);
  }
  .unit-box {
    position: relative;
    &-item {
      position: absolute;
      right: 145px;
      top: 0;
    }
  }
}
