.page-userbaseinfo{
    .alone-section-wrapper{
        margin: 0;
        margin-bottom: 22px;
    }
    .form-wrapper{
        width: 50%;
    }

    .base-info{
        .title{
            color: $fontColor;
        }
        
        .p-flex{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        
            .flex-item{
                width: 33%;
                color: $subFontColor;
            }
        }
        
    }

    
}
