#device-regist {
  .main-page-title {
    display: flex;
    justify-content: space-between;
  }

  .setp-ttip {
    height: 184px;
    background: #F4FBFF;
    padding: 22px;

    .step-title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {
        font-size: 14px;
        font-weight: 600;
        color: #323232;
        line-height: 20px;
        margin-left: 3px;
      }

    }

    .ant-steps-item-description {
      max-width: 262px;
      font-size: 12px;
      font-weight: 400;
      color: #666666;
      line-height: 20px;
    }

    .ant-steps-item-title {
      font-size: 16px;
      font-weight: 400;
      color: #323232;
      margin-bottom: 12px;
    }

    .ant-steps-item-title::after {
      background-color: #C4CEE0;
    }

    .ant-steps-icon {
      font-weight: 400;
      color: #323232;
    }
  }

  .device-count {
    height: 100px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    margin: 16px 0;
    >div {
      font-weight: 400;
      width: 170px;
      height: 56px;
      flex: 1;

      &:first-child {
        margin-left: 22px;
      }


      &:hover {

        .item-number {
          color: #2F78FF;
        }

      }

      .item-label {
        height: 22px;
        font-size: 12px;
        color: #666666;
        line-height: 22px;
      }

      .item-number {
        color: #323232;
        width: 22px;
        font-size: 20px;
        line-height: 32px;
      }


    }

  }
  .device-content{
      padding: 22px;
      .content-top{
        display: flex;
        white-space: nowrap;
        align-items: center;
        margin-bottom: 23px;
        justify-content: space-between;
          .content-top-left{
              display: flex;
              align-items: center;
          }
      }
  }
}
