$iconSize: 80px;
$borderRadius: 50%;

.icon-wrapper {
    width: $iconSize;
    height: $iconSize;
    background: rgba(247, 249, 250, 1);
    border: 1px solid rgba(233, 233, 233, 1);
    display: flex;
    justify-content: center;
    align-content: center;

    &.show-img {
        border: none;
    }

    i,
    img {
        margin: auto;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        // border-radius: $borderRadius;
    }

    i {
        font-size: 32px;
    }
    .anticon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
