@import './assets/css/reset.css';
@import './assets/css/variables.scss';
@import './assets/css/common.scss';
@import './assets/css/css-in-modals.scss';


html,body,#root{
    height: 100%;
}
body{
    font-size: 14px;
    font-weight: 400;
    font-family: PingFangSC;
}