@charset 'utf-8';

.cloud-manage-modal {
  // 展示选择协议
  .show-protocol-box {
    .protocol-bar {
      padding: 12px;
      min-height: 84px;
      border: 1px solid $_D9D;
      position: relative;
      margin-bottom: 22px;
      &-title {
        margin-bottom: 10px;
      }
      &-del {
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 12px;
        @include text(14px, $_f42);
      }
    }
  }
  // 选择协议
  .select-protocol-box {
    @include flex();
    margin-bottom: 22px;
    .control-btns {
      cursor: pointer;
      @include flex(space-between, flex-start);
      .confirm-btn {
        margin-left: 5px;
        margin-right: 10px;
        @include text(14px, $_166);
      }
      .del-btn {
        @include text(14px, $_f42);
      }
    }
  }
  // 添加功能点  按钮
  .add-btn {
    padding: 6px 16px;
    border-radius: 4px;
    @include text(12px, $themeColor);
    border: 1px solid $themeColor;
  }
  .required-relation {
    &::before {
      display: inline-block;
      margin-right: 4px;
      color: #f5222d;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: "*";
    }
  }
}
